<!doctype html>
<html lang="en">

<head>
    <%- include('./includes/head.ejs') %>
</head>

<body>
    <header>
        <%- include('./includes/navbar.ejs') %>
    </header>
    <main>

        <div class="container-fluid mt-2">

            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Добавить
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавьте нового клиента</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/customers/add" method="post" tyle="text-align: center">
                                <div class="mb-3 input-group-sm">
                                    <span class="input-group-text bg-primary text-white">Фамилия, Имя, Отчество</span>
                                    <div class="input-group input-group-sm">
                                        <!--<span class="input-group-text bg-primary text-white">Ф.</span>-->
                                        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Фамилия">
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <!--<span class="input-group-text  bg-primary text-white">И.</span>-->
                                        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Имя">
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <!--<span class="input-group-text  bg-primary text-white">О.</span>-->
                                        <input class="form-control" type="text" id="patronymic" name="patronymic" placeholder="Отчество">
                                    </div>
                                </div>
                                <div class="mb-3 input-group-sm">
                                    <span class="input-group-text  bg-primary text-white">Адрес</span>
                                    <textarea class="form-control" id="street" rows=2 name="street"></textarea>
                                </div>
                                <div class="mb-3 input-group-sm"></div>
                                <span class="input-group-text  bg-primary text-white">Комментарий</span>
                                <textarea class="form-control" id="comment" rows=5 name="comment"></textarea>
                                <div class="mt-2">
                                    <button class="btn btn-primary" type="submit">Сохранить</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% if (customers.length> 0) { %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Отчество</th>
                            <th scope="col">Адрес</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const customer of customers) { %>
                            <tr scope="row">
                                <td>
                                    <%= customer.id %>
                                </td>
                                <td>
                                    <%= customer.lastName %>
                                </td>
                                <td>
                                    <%= customer.firstName %>
                                </td>
                                <td>
                                    <%= customer.patronymic %>
                                </td>
                                <td>
                                    <%= customer.street %>
                                </td>
                                <td>
                                    <%= customer.comment %>
                                </td>
                                <td>
                                    <!--<form action="/customers/<%= customer.id %> " method="пуе">
                                        <button class="btn btn-primary" type="submit">Изменить</button>
                                    </form>-->

                                    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#editModal<%= customer.id %>">
                                        Изменить
                                    </button>
                        
                                    <div class="modal fade" id="editModal<%= customer.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Добавьте нового клиента</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/customers/add" method="post" tyle="text-align: center">
                                                        <div class="mb-3 input-group-sm">
                                                            <span class="input-group-text bg-primary text-white">Фамилия, Имя, Отчество</span>
                                                            <div class="input-group input-group-sm">
                                                                <span class="input-group-text bg-primary text-white">Ф.</span>
                                                                <input class="form-control" type="text" id="lastName" name="lastName" value="<%= customer.lastName %>">
                                                            </div>
                                                            <div class="input-group input-group-sm">
                                                                <span class="input-group-text  bg-primary text-white">И.</span>
                                                                <input class="form-control" type="text" id="firstName" name="firstName" value="<%= customer.firstName %>">
                                                            </div>
                                                            <div class="input-group input-group-sm">
                                                                <span class="input-group-text  bg-primary text-white">О.</span>
                                                                <input class="form-control" type="text" id="patronymic" name="patronymic" value="<%= customer.patronymic %>">
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 input-group-sm">
                                                            <span class="input-group-text  bg-primary text-white">Адрес</span>
                                                            <textarea class="form-control" id="street" rows=2 name="street" ><%= customer.street %></textarea>
                                                        </div>
                                                        <div class="mb-3 input-group-sm"></div>
                                                        <span class="input-group-text  bg-primary text-white">Комментарий</span>
                                                        <textarea class="form-control" id="comment" rows=5 name="comment"><%= customer.comment %></textarea>
                                                        <input class="form-control invisible" type="text" id="id" name="id" value="<%= customer.id %>">
                                                        <div class="mt-2">
                                                            <button class="btn btn-primary" type="submit">Сохранить</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <h1>Упс, Клиенты не найдены</h1>
            <% } %>
        </div>
    </main>
</body>

</html>